@font-face {
  font-family: 'Kalnia';
  src: url('./assets/Kalnia-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Kalnia', sans-serif;
  margin: 0;
  padding: 0;
}

.home-container {
  width: 400px;
  height: 430px;
  background-image: url('./assets/homepage.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.encouragement-text {
  font-size: 13px;

  color: #a37c78;
  margin-bottom: 0.5rem;
  position: relative;
  top: 65px;
  animation: fadeIn 1s ease-in-out;
  transition: opacity 0.8s ease;

}

.encouragement-text.hidden {
  opacity: 0;
}



.home-controls {
  display: flex;
  justify-content: center;
  margin: 0;
}

.image-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  top: 285px;
}

.image-button img {
  width: 100px;
}

.home-timer {
  font-size: 60px;
  color: #885a6b;
  margin: 0;
  position: relative;
  top: 40px;
}

.gif-image {
  height:120px;
  position: relative;
  right: 110px;  
  top:-180px;
  margin: 0;
}

.home-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  top: -165px;
  left: 120px;
  
}

.home-button img {
  width: 30px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 24px;
  height: 24px;
}